<appSettings>
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="CS" value="" />
  <add key="K2IKXGu4A1JsRIB/67EoYZf19BPW9QiWotyIq/R6AD4=" value="K2IKXGu4A1JsRIB/67EoYaCIB4ArZmDpz/vD0HYioXc=" />
  <add key="K2IKXGu4A1JsRIB/67EoYXRc8fyF+rnhCxQ0TuuB3mnDRu+XCRbu9md710sraWYq"
    value="K2IKXGu4A1JsRIB/67EoYaCIB4ArZmDpz/vD0HYioXc=" />
  <add key="K2IKXGu4A1JsRIB/67EoYeAHIoDtpZwCMIkg7L93rwA=" value="K2IKXGu4A1JsRIB/67EoYXGcke2TGY59UeVz0OIEdOQ=" />
  <add key="K2IKXGu4A1JsRIB/67EoYQHbGc5lCjsXQTyReSwNYbc=" value="K2IKXGu4A1JsRIB/67EoYWg2CgCyauNgsTly4ZNgCP4=" />
  <add key="K2IKXGu4A1JsRIB/67EoYXLewPe68DIfOsvtZ07cILc=" value="K2IKXGu4A1JsRIB/67EoYZkneGmitrLS9wYZ8iPuwtE=" />
  <add key="K2IKXGu4A1JsRIB/67EoYeLeFmTcdVBSoFT+eDeQvF4=" value="K2IKXGu4A1JsRIB/67EoYbYbAcMiaPapqoXzywdhaGw=" />
  <add key="VS2FS" value="1" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
  <add key="K2IKXGu4A1JsRIB/67EoYSCWpWDzmvjdb4d8JlbZCvY=" value="K2IKXGu4A1JsRIB/67EoYR3JpOxenwYJxhqi9mzKwRA=" />
  <add key="DB" value="MsSql" />
  <add key="database" value="dbErp7" />
  <add key="DebugKey" value="" />
  <add key="DisableScheduler" value="1" />
  <add key="LocalUrl" value="http://localhost:2500" />
  <add key="WindowsServiceAppPath" value="" />
  <add key="MultiConnString" value="0" />
  <add key="SecureMode" value="0" />
  <add key="K2IKXGu4A1JsRIB/67EoYXWSJP+9IQnn48CDp1ny90M=" value="K2IKXGu4A1JsRIB/67EoYe35cQkqIvgsmdL5VKGP0O4=" />
  <add key="K2IKXGu4A1JsRIB/67EoYWrWuWlDzu6fNe/FzRFwHns=" value="K2IKXGu4A1JsRIB/67EoYbJumNNhpTXZBDlLPs24DPjXvIXsy8MLErosYW7NVEUW" />
  <add key="aspnet:AllowConcurrentRequestsPerSession" value="true" />
  <add key="DbStreamer.db" value="http://reg.sensysindia.com/support/db.asmx" />
  <add key="server" value="173.31.19.55,1433" />
  <add key="IS" value="0" />
  <add key="ApplicationUrl" value="" />
  <add key="FileGroupName" value="ThreadErpFileStream" />
  <add key="EnableWindowsService" value="0" />
  <add key="EnableUTCService" value="0" />
  <add key="EnableUTCAll" value="0" />
  <add key="EnableFileStream" value="1" />
  <add key="Proxy" value="" />
  <add key="K2IKXGu4A1JsRIB/67EoYUVR81ZHFxmdWFPOiM1Nx4Q=" value="K2IKXGu4A1JsRIB/67EoYWnzfA9/JNdNH/bmjD8zSCA=" />
  <add key="K2IKXGu4A1JsRIB/67EoYZFqm9kDONxZ9D67i2EViVY=" value="K2IKXGu4A1JsRIB/67EoYYHuVot0cBccsVOjXubdQqt/MQDIwQKpL25TS6w5m9O2" />
</appSettings>