<HelperLib.DataStore KeyPrefix="ERP" EnableRedisCache="true" EnableRedisCacheForGlobalVars="true" GlobalCacheExpiration="" CacheExpiration=""
  	EnableRedisCacheForSession="" MirrorSessionInRedisCache="" SessionCacheExpiration="" StickySession="" MirrorMemoryCacheInRedisCache=""
  	MirrorCacheExpiration="">
  </HelperLib.DataStore>